body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*========      Home     =========*/

@import url('https://fonts.googleapis.com/css?family=Exo+2');
.wrapper {
  display: flex;
  background: url(./../images/gym-background.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50%;
  height: auto;
  text-align: center;
}

ul {
  color: white;
  list-style-type: none;
}

.mainH1 {
  color: white;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 1px 1px 1px black;
  font-size: 60px;
}

/*========      Dashboard     =========*/

ul.dashNav {
  background-color: white;
  opacity: .5;
}

ul.dashNav li {
  opacity: 1;
  vertical-align: auto;
  list-style-type: none;
  top: 0;
  left: center;
}

ul.dashNav li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 25px;
  display: inline-block;
}

.dashboardJumbotron {
  background-color: transparent;
  opacity: .9;
  width: 75%;
}

ul.dashboardHeader li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.dashboardHeader {
  background-color: #111;
  padding: 0;
}

ul.dashboardHeader li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.dashboardContent {
  background-color: #FFF;
  padding: 20px;
  height: 400px;
}

.dashboardContent h2 {
  padding: 0;
  margin: 0;
}

.dashboardContent li {
  margin-bottom: 10px;
}